@import "../../variables.scss";

.Footer {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    background-image: $background-gray;
    width: 100vw;
}

.GithubLink {
    font-size: 3rem;
    color: black;

    :hover {
        color: $colour-header;
        cursor: pointer;
    }

}