@import "../../variables.scss"; 

.navBar {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    background-image: $background-gray;
    border-bottom: 3px solid $colour-header;

    h1 {
        color: $colour-header;
        font-size: 2rem;
    }

    input {
        font-size: 1rem;
        border-radius: 15px;
        padding: 5px 10px;
        border: none;
    }
}