@import "./variables.scss";

.Body {
    min-height: 100%;
    background-image: url("https://transparenttextures.com/patterns/asfalt-dark.png");
}

.NavBar {
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

.BeerContainer {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    min-height: 90vh;
}

.Footer {
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
}