@import "../../variables.scss";

.BeerFilters {
    background-image: $background-gray;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    margin: 25px;
    padding: 15px 25px;
    box-shadow: $box-shadow-primary;

    h2 {
        color: $colour-header;
    }

    .FilterButtonContainer {
        margin: 5px 20px;
        display: flex;
        flex-direction: column;

        .FilterButton {
            height: 40px;
            margin: 10px 0;
            border-radius: 10px;
            border: none;
            color: #eeeeee;
            font-weight: bold;
            background-image: linear-gradient(#1ba7ce, #a2d6e6);
            box-shadow: $box-shadow-primary;

            :hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}